<!-- Footer -->
<footer class="container-fluid">
    <div id="footer-details" class="row mx-auto">
        <div class="footer-logo col-sm-4">
            <a href="#top"><img src="/media/logo.png" alt="Logo for Devaki Yoga" style="width: 180px"></a>
        </div>
        <div class="col-sm-4 inline-block">
            <ul class="list-unstyled address">
                <li>Bristol Movement Space</li>
                <li>301 Church Road</li>
                <li>Bristol</li>
                <li>St George</li>
                <li>BS5 8AD</li>
                <li>United Kingdom</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <div class="contact-info-email">
                <i class="far fa-envelope" aria-hidden="true"></i>
                <a class="email" href="mailto:hello@devakiyoga.co.uk">@devakiyoga.co.uk</a>
            </div>
            <div class="contact-info-mobile">
                <i class="fas fa-phone" aria-hidden="true"></i>
                <a class="mobile" href="tel:079799-955-388"> 07979955388</a>
            </div>
            <div class="input-group">
                <input type="email" id="email2" name="email" class="form-control" placeholder="Email address" required aria-label="Email address">
                <button class="btn btn-primary btn-submit" type="submit" id="button-footer">Sign up!</button>
            </div>
            <ul class="list-inline social-links">
                <li class="list-inline-item social">
                    <a target="_blank" href="#">
                        <i class="fab fa-facebook" aria-hidden="true"></i>
                        <span class="sr-only">Facebook</span>
                    </a>
                </li>
                <li class="list-inline-item social">
                    <a target="_blank" href="#">
                        <i class="fab fa-twitter" aria-hidden="true"></i>
                        <span class="sr-only">Twitter</span>
                    </a>
                <li class="list-inline-item social">
                    <a target="_blank" href="#">
                        <i class="fab fa-instagram" aria-hidden="true"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </li>
                <li class="list-inline-item social">
                    <a target="_blank" href="#">
                        <i class="fab fa-youtube" aria-hidden="true"></i>
                        <span class="sr-only">YouTube</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>