{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- <div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            {% for post in posts %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="#" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div> -->
<!-- <section>
    <div class="container-fluid">
        {% for post in posts %}
        <div class="row my-4">
            <div class="col-sm-6 order-sm-2 blog-heading">
                <i class="fas fa-spa icon"></i>
                <h2>{{ post.title }}</h2>
                <h5><i class="far fa-clock"></i> {{ post.author }} | {{ post.created_on}} </h5>
                <img src="/media/{{post.image}}" alt="table of healthy sattvic vegetables" class="responsive">
            </div>
            <div class="col-sm-6 order-sm-2 blog">
                {% for post in posts %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                        <p class="card-text">{{post.content|slice:":200" }}</p>
                        <a href="#" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col">
                        <img src="/media/sattvic-bowl.jpg" alt="healthy bowl of sattvic food" class="responsive img-fluid">
                    </div>
                    <div class="col">
                        <img src="/media/sattvic-green.jpg" alt="bowl of healthy sattvic vegetables" class="responsive">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% for post in posts %}
<section>
    <div class="container-fluid">
        <div class="row my-4">
            <div class="col-sm-6 order-sm-2 blog-heading">
                <i class="fas fa-spa icon"></i>
                <h2>{{ post.title }}</h2>
                <h5><i class="far fa-clock"></i> {{ post.author }} | {{ post.created_on}} </h5>
                <img src="/media/{{post.image}}" class="card-img-top" alt="..." class="responsive">
            </div>
            <div class="col-sm-6 order-sm-2 blog">
                <p>{{post.content| truncatechars:210}}
                </p>
                <a href="{{post.slug}}" class="btn btn-primary">Read More {% if user.is_superuser %}<a href="delete_blog_post/{{post.slug}}/" class="btn btn-danger mx-4">Delete Blog</a>{% endif %}</a>
                <div class="row">
                    <div class="col">
                        <img src="/media/sattvic-bowl.jpg" alt="healthy bowl of sattvic food" class="responsive img-fluid">
                    </div>
                    <div class="col">
                        <img src="/media/sattvic-green.jpg" alt="bowl of healthy sattvic vegetables" class="responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %} -->
<div class="container-fluid">
    {% for post in posts %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="text-center">
                <i class="fas fa-spa icon"></i>
            </div>
            <div class="card text-center shadow">
                <h2 class="mt-3">{{ post.title }}</h2>
                <h5>by {{ post.author }} | {{ post.created_on}} </h5>
                {% for image in post.images.all %}
                <img src="{{ image.image.url }}" alt="Image" class="responsive">
                {% endfor %}
                <div class="card-body">
                    <p class="card-text text-justify">{{post.content| truncatechars:210}}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'blog:blog_detail' post.slug %}" class="btn mx-4">Read More {% if user.is_superuser %}<a href="delete_blog_post/{{post.slug}}/" class="btn mx-4">Delete Blog</a>{% endif %}</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- Sign up -->
<!-- <div class="container-fluid bg-color-sign-up">
    <div class="row">
        <div class="col sign-up-container-text px-8 py-4">
            <h2>Sign up to the blog!</h2>
            <p>Keep up to date with everything yoga, from our carefully curated blogs released every month, to all
                the
                news and information about yoga in Bristol.</p>
        </div>
    </div>
    <form id="form">
        <div class="row">
            <div class="col-sm sign-up-container-form">
                <input type="text" class="form-control" placeholder="First name" required aria-label="First name">
            </div>
            <div class="col-sm sign-up-container-form">
                <input type="text" class="form-control" placeholder="Last name" required aria-label="Last name">
            </div>
            <div class="col-sm-4 sign-up-container-form">
                <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required aria-label="Email address">
            </div>
            <div class="col-sm-2 sign-up-container-form">
                <button type="submit" class="btn btn-primary btn-submit">Sign up to the blog!</button>
            </div>
        </div>
    </form>
</div> -->
{% endblock %}