<body>


    <div class="container-fluid container-fluid col-lg-8 col-md-12 col-12">
        <a class="navbar-brand logo" href="#" id="home">
            <img src="/media/logo.png" alt="Logo for Devaki Yoga" style="width: 200px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    {% include 'includes/footer.html' %}
</body>