{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row my-4">
        <div class="col-sm-6">
            <div class="lorna">
                <i class="fas fa-spa icon"></i>
                <h2>Lorna Fox - Sivananda Teacher</h2>
                <hr class="block-divider">
            </div>
            <img src="/media/lorna-main.jpg" alt="Lorna Fox profile photo" class="img-fluid">
        </div>
        <div class="col-sm-6 my-auto profile">
            <p>Lorna has been practising yoga for over 10 years, following her daily Sivananda practice of asanas,
                pranayama and meditation. Lorna first discovered Sivananda Hatha yoga on a trip to southern India
                and a visit to the Sivananda yoga ashram in Tamil Nadu. She was deeply inspired by the teachings,
                including the asanas and pranayama, and also the philosophy known as Vedanta. Lorna continued to
                practise yoga and follow the five principles through her life, deciding to dedicate herself to her
                practice more strongly and to carry out her yoga teacher training in 2018 at the International
                Sivananda Yoga Vedanta Centre in Netala, Uttarkashi in the Himalayas. Lorna passed her 200 hours TTC
                to become a Yoga Siromani by the name of Devaki - hence the name, Devaki Yoga. Lorna has now been
                teaching for over 3 years. Lorna's practice, and teaching is deep and transformational. She guides
                her students towards the essence of yoga, to find the true meaning of yoga - joining - to join the
                body, mind and spirit and create deeper peace through daily life as well as greater health, fitness
                and vitality.
                Lorna teaches weekly classes both online and in person, as well as teaching corporate classes.
            </p>
        </div>
    </div>
    <section id="lorna-photos">
        <div class="row d-flex my-3">
            <div class="col d-none d-sm-block">
                <img src="/media/lorna-seated-pose.jpg" alt="seated yoga position" style="width:100%">
            </div>
            <div class="col d-none d-sm-block">
                <img src="/media/lorna-stretch.jpg" alt="stretch holding feet" style="width:100%">
            </div>
            <div class="col">
                <img src="/media/lorna-backbend.jpg" alt="backward bend" style="width:100%">
            </div>
            <div class="col">
                <img src="/media/lorna-pose.jpg" alt="focussed yoga pose" style="width:100%">
            </div>
        </div>
    </section>
</div>
<!-- Profile 2 -->
<div class="container-fluid bg-color-profile">
    <div class="row justify-content-center">
        <div class="col-sm-6 order-sm-2">
            <div class="jane">
                <i class="fas fa-spa icon"></i>
                <h2>Jane Doe - Sivananda Teacher</h2>
                <hr class="block-divider">
            </div>
            <img src="/media/jane-main.jpg" alt="Jane Doe profile photo" class="responsive">
        </div>
        <div class="col-sm-6 order-sm-1 my-auto profile">
            <p>Jane has been practising yoga for over 10 years and qualified at the International Yoga Vedanta
                Centre in Netala, Uttarkashi in the Himalayas in 2018. Jane passed her 200 hours TTC to become a
                Yoga Siromani and has been teaching weekly classes for over 3 years. Jane practises both Hatha and
                Ashtanga Vinyasa yoga and brings this dynamism into her daily practise and her teachings. Jane is a
                dynamic yoga teacher and brings her students on a journey to greater strength and flexibility
                through her classes, in turn, improving their focus, health and stamina.
                Jane teaches weekly classes both online and in person, as well as teaching corporate classes.
            </p>
        </div>
    </div>
    <section id="jane-photos">
        <div class="row d-flex my-3">
            <div class="col d-none d-sm-block">
                <img src="/media/jane-arm-stretch.jpg" alt="arms out stretched" style="width:100%">
            </div>
            <div class="col">
                <img src="/media/jane-back-stretch.jpg" alt="interlocking fingers behind the back" style="width:100%">
            </div>
            <div class="col">
                <img src="/media/jane-stretch.jpg" alt="childs pose" style="width:100%">
            </div>
            <div class="col d-none d-sm-block">
                <img src="/media/jane-pose.jpg" alt="meditation pose" style="width:100%">
            </div>
        </div>
    </section>
</div>
<!-- Schedule -->
<section id="schedule">
    <div class="container-fluid responsive">
        <div class="schedule">
            <i class="fas fa-spa icon"></i>
            <h2>Class Schedule</h2>
            <hr class="block-divider">
        </div>
        <p>We operate an open door yoga studio with a maximum of 12 students per class,
            no matter if you're a complete yoga newbie or an advanced level yoga ninja, our team of expert teachers
            will guide you through your yogic experience like no other. Because of high demand and a limited number
            of
            spaces we cannot guarantee availability, so why not contact us and prebook a mat.
        </p>
    </div>
</section>
<div class="container bg-color-schedule table-responsive-sm">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">MON</th>
                <th scope="col">TUES</th>
                <th scope="col">WED</th>
                <th scope="col">THUR</th>
                <th scope="col">FRI</th>
                <th scope="col">SAT</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">AM</th>
                <td>9:30 - 11:00</td>
                <td>9:30 - 11:00</td>
                <td>9:30 - 11:00</td>
                <td>9:30 - 11:00</td>
                <td>9:30 - 11:00</td>
                <td>10:30 - 12:00</td>
            </tr>
            <tr>
                <th scope="row">PM</th>
                <td>3:00 - 4:30</td>
                <td>3:00 - 4:30</td>
                <td>3:00 - 4:30</td>
                <td>3:00 - 4:30</td>
                <td>3:00 - 4:30</td>
                <td>1:30 - 3:00</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>4:00 - 5:30</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}